

.container {
    padding: 100px 0;
    max-width: 80%;
    min-height: 100vh;
}

.edit-profile .title-area h1 {
    font-size: 36px;
}
.edit-profile .title-area p {
    color: #676F6F;
}

.edit-profile .divider {
    width: 100%;
    height: 1px;
    border: 1px solid #D8E1E1;
    margin: 24px auto;
}

.edit-profile .content h3 {
    font-size: 24px;
}



/* Form Area */
/* ----------------------------------------------------- */
form {
    text-align: left;
    margin-top: 16px;
}
form label {
    color: #676F6F;
    font-weight: 300;
}
form .btn-block {
    margin-top: 40px;
    border-radius: 6px;
    height: 48px;
    background-color: #00AA13;
}
.form-group {
    position: relative;
}
.form-control,
.form-control:focus {
    border: 1px solid #D8E1E1;
    box-shadow: none;
    border-radius: 8px;
}
label.error {
    color: red;
    font-size: 12px;
}
.edit-profile .fas {
    position: absolute;
    right: 3%;
    bottom: 15%;
    z-index: 2;
    color: #00AA13;
}
.btn.btn-success.btn-block {
    margin: 24px auto 8px;
    width: 50%;
}


/* Select2 Plugin Customization */
/* ----------------------------------------------------- */
.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single  {
    height: 38px;
    border: 1px solid #D8E1E1;
    border-radius: 8px;
}
.select2-container .select2-selection--single:focus {
    outline: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    /* background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png); */
}
.select2-results__option--selectable {
    padding-left: 16px;
    padding-right: 16px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #00AA13;
}




/* Responsiveness */
/* ----------------------------------------------------- */
@media (max-width: 576px) {
    .container {
        max-width: 95%;
    }
    .edit-profile {
        font-size: 12px;
    }
    .edit-profile .title-area h1 {
        font-size: 24px;
    }
    .edit-profile .content h3 {
        font-size: 16px;
    }
    .btn.btn-success.btn-block {
        width: 100%;
        font-size: 13px;
    }
    
}