

.container {
    padding: 100px 0;
    max-width: 80%;
    min-height: 100vh;
}

.main-area {
    text-align: center;
    margin: 10% auto;
}

.main-area img {
    width: 50%;
    margin: 40px auto;
}
.main-area h2 {
    font-size: 24px;
    color: #1C1D1D;
}
.main-area p {
    color: #676F6F;
}