/* -------------font------------------ */
@font-face {
    font-family: 'MaisonNeue';
  src:  
      url('fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
      url('fonts/MaisonNeueWEB-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-Bold';
  src:  
      url('fonts/MaisonNeueWEB-Bold.woff2') format('woff2'),
      url('fonts/MaisonNeueWEB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-italic';
  src:  
      url('fonts/MaisonNeueWEB-BookItalic.woff2') format('woff2'),
      url('fonts/MaisonNeueWEB-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MaisonNeue-Extended';
  src:  
      url('fonts/MaisonNeueExtendedWEB-Bold.woff2') format('woff2'),
      url('fonts/MaisonNeueExtendedWEB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/* -------------end font------------------ */
body{
    font-family: 'MaisonNeue';
    color: #1C1D1D;
}
.pd-0{
    padding: 0;
}
body a{
    color: #1C1D1D;
}
body a:hover{
    text-decoration: none;
    color: #1C1D1D;
}
/* ----------header------------- */

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.12);
    padding: 0.5rem 10%;
    height: 80px;
}
.navbar button:focus {
    box-shadow: none;
}
.navbar img {
    height: 40px;
}
.navbar-collapse .navbar-nav {
    width: 100%;
}
.navbar-collapse .navbar-nav .separator {
    height: 24px;
    width: 2px;
    background-color: #D8E1E1;
    margin: 8px 12px;
}
.navbar-collapse .navbar-nav .nav-item {
    margin: auto 12px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1) {
    min-width: 20%;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(2) {
    min-width: 30%;
    margin-right: 36px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(6) {
    position: relative;
    min-width: 7em;
}
.navbar-collapse .navbar-nav .nav-item .fas {
    color: #676F6F;
    font-size: 22px;
    cursor: pointer;
}
.navbar-collapse .navbar-nav .nav-item .dropdown {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}
.navbar-collapse .navbar-nav .nav-item .dropdown button {
    background: no-repeat;
    color: grey;
    border: none;
}
.navbar-collapse .navbar-nav .nav-item img {
    height: 24px;
}
.navbar-collapse .navbar-nav .nav-item span {
    margin-left: 8px;
    color: #676F6F;
}


.navbar-nav form .input-group {
    width: 100%;
    background: #EEF3F1;
    border-radius: 25px;
}
.navbar-nav form .input-group input {
    background: #EEF3F1;
    border: none;
    padding-left: 28px;
    font-size: 12px;
    height: 44px;
}
.navbar-nav form .input-group .fa-search {
    color: #A6B1B1 !important;
    font-size: 16px !important;
    position: relative;
    height: max-content;
    line-height: 0;
    top: 22px;
    left: 18px;
    z-index: 4;
}
.navbar-nav form .input-group input:focus {
    box-shadow: none;
    background: #EEF3F1;
}
.navbar-nav form .input-group button,
.navbar-nav form .input-group button:hover {
    padding: 0 24px;
    border: 1px solid #D8E1E1;
    border-radius: 25px !important;
    background: #00AA13;
    color: #fff;
}

.show>.btn-secondary.dropdown-toggle:focus, 
.show>.btn-secondary.dropdown-toggle:active {
    box-shadow: none;
}

.title .card .card-body h1{
    font-family: 'MaisonNeue-Bold';
    font-size: 24px;
    margin: 0;
}

/* ----------recomendation------- */
.product-list.recomendation .title.hd{
    font-family: 'MaisonNeue-Bold';
    font-size: 24px;
}
.product-list.recomendation .row .col {
    margin-bottom: 16px;
}
.product-list.recomendation .card {
    padding: 0;
}
.product-list.recomendation .card-body {
    padding: 15px;
}
.product-list.recomendation .card p {
    font-size: 14px;
    margin-bottom: 16px;
}
.product-list.recomendation .card p:last-child {
    font-weight: 700;
    color: #DB3D40;
    margin-bottom: 0;
}

/* ----------footer------------- */

footer {
    margin: 0;
    background: #EEF3F1;
    padding: 1em;
    text-align: center;color: #676F6F;
}

footer p {
    font-size: 16px;
}


/* RESPONSIVENESS */
/* ----------------------------------------------------- */
@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem 2.5%;
        height: 64px;
    }
    .navbar img {
        height: 24px;
    }

    /* footer */
    footer p {
        font-size: 13px;
    }
}