
.container {
    padding: 100px 0;
    max-width: 80%;
    min-height: 100vh;
}
.container a {
    text-decoration: none;
}
.container ul {
    list-style-type: none;
    padding: 0;
}

main section {
    margin: 36px auto;
}

section .title {
    font-family: 'MaisonNeue-Bold';
    font-size: 24px;
    line-height: 24px;
    color: #1C1D1D;
    margin: 12px auto;
}

section .card {
    border: 1px solid #D8E1E1;
    border-radius: 8px;
}

section.popular,
section.product-list {
    margin: 16px auto;
}

.product-list .row .col {
    margin-bottom: 16px;
}
.product-list .card {
    padding: 0;
}
.product-list .card p {
    font-size: 14px;
}
.product-list .card p:last-child {
    font-weight: 700;
    color: #DB3D40;
}


/* SWIPER JS CUSTOMIZATION */
/* ----------------------------------------------------- */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    cursor: pointer;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 60%;
}

.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    outline: none;
    box-shadow: 0 0 2px 0px #b0b0b0;
}

.swiper-button-next:after, 
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, 
.swiper-container-rtl .swiper-button-next:after {
    font-size: 16px;
    color: green;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.swiper-pagination-bullet-active {
    background: #00AA13;
}


/* Spesific Swiper Section Customization */
/* ----------------------------------------------------- */
.swiper-hero .swiper-wrapper .swiper-slide {
    border-radius: 16px;
    /* min-height: 300px; */
}
.swiper-hero .swiper-wrapper .swiper-slide img{
    border-radius: 23px;
}
.swiper-pagination-bullet{
    opacity: 1 !important;
    background: #ffffff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #00AA13;
}
/* .swiper-hero .swiper-wrapper .swiper-slide:nth-child(1) {
    background-color: green;
}
.swiper-hero .swiper-wrapper .swiper-slide:nth-child(2) {
    background-color: blueviolet;
}
.swiper-hero .swiper-wrapper .swiper-slide:nth-child(3) {
    background-color: orange;
}
.swiper-hero .swiper-wrapper .swiper-slide:nth-child(4) {
    background-color: brown;
}
.swiper-hero .swiper-wrapper .swiper-slide:nth-child(5) {
    background-color: silver;
} */


.swiper-category .swiper-slide {
    margin-right: 10px;
    width: auto;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #D8E1E1;
    color: #676F6F;
}
.swiper-category .swiper-slide a{
    color: #676F6F;
}
.swiper-category .swiper-slide img {
    height: 16px;
    margin-right: 8px;
}


.swiper-recommendation .swiper-slide {
    display: block;
    width: 20%;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #D8E1E1;
    color: #676F6F;
}
.swiper-recommendation .swiper-slide img {
    width: 80%;
    margin: 12px auto;
}
.swiper-recommendation .swiper-slide p {
    margin: 24px 0 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
}

.swiper-popular .swiper-slide:first-child {
    width: auto;
    padding: 8px 16px;
    font-weight: bold;
}
.swiper-popular .swiper-slide:not(:first-child) {
    width: auto;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: #EEF3F1;
    color: #676F6F;
    margin: 0 5px;
}
.swiper-popular .swiper-slide:not(:first-child).active {
    background-color: #00AA13;
    color: #fff;
}
.swiper-popular .swiper-slide img {
    height: 16px;
    margin-right: 8px;
}


/* SECTION - ORDER STATUS  */
/* ----------------------------------------------------- */
.status-order .title .detail {
    float: right;
    font-size: 16px;
    color: #676F6F;
}
.status-order .title .fas {
    font-size: 16px;
    margin-left: 8px;
    color: #00AA13;
}
.status-order .card {
    padding: 12px 24px;
}
.status-order .card .item-order {
    font-weight: 700;
    margin-bottom: 16px;
}
.status-order .card-body {
    padding: 0;
}
.status-order .card .m-description {
    display: none;
}


/* Track Order */
/* ----------------------------------------------------- */
.track-order {
    position: relative;
}
.track-order .track img {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    width: 60%;
    position: relative;
    z-index: 2;
}
#track-list {
    margin: 0;
}
#track-list li .description p {
    font-size: 12px;
}
#track-list li .description p:first-child {
    margin: 8px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#track-list li .description p:last-child {
    color: silver;
    font-size: 10px;
}

#track-list li::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #D8E1E1;
    position: absolute;
    left: -50%;
    top: 48%;
    z-index: 1;
}
#track-list li:first-child::before {
    content: none;
}
#track-list li.active::before {
    background: #00AA13;
}




/* RESPONSIVENESS */
/* ----------------------------------------------------- */
@media (max-width: 425px) {
    .track-order .track img {
        padding: 16%;
        width: 230%;
    }
    .track-order .track p {
        display: none;
    }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
    .track-order .track img {
        padding: 16%;
        width: 100%;
    }
    #track-list li::before {
        top: 48%;
    }
    .track-order .track p {
        display: none;
    }
}

@media (min-width: 577px) {

    .track-order .track img {
        padding: 16%;
        width: 75%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .hero {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
    }

    .category {
        margin-top: 380px;
    }

    .swiper-recommendation .swiper-slide {
        width: 40%;
    }

    .swiper-popular .swiper-slide:not(:first-child) {
        font-size: 12px;
        top: 4px;
    }
    .track-order .track p {
        display: none;
    }
    .status-order .card .m-description {
        display: block;
        margin-top: 12px;
    }
    .status-order .card .m-description p {
        font-size: 12px;
    }
    .status-order .card .m-description p:first-child {
        margin: 8px 0 0 0;
    }
    .status-order .card .m-description p:last-child {
        color: silver;
        font-size: 13px;
        margin: 0;
    }
    #track-list li::before {
        top: 48%;
    }
}


.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.12);
    padding: 0.5rem 10%;
    height: 80px;
}
.navbar button:focus {
    box-shadow: none;
}
.navbar img {
    height: 40px;
}
.navbar-collapse {

}
.navbar-collapse .navbar-nav {
    width: 100%;
}
.navbar-collapse .navbar-nav .separator {
    height: 24px;
    width: 2px;
    background-color: #D8E1E1;
    margin: 8px 12px;
}
.navbar-collapse .navbar-nav .nav-item {
    margin: auto 12px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(1) {
    min-width: 20%;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(2) {
    min-width: 30%;
    margin-right: 36px;
}
.navbar-collapse .navbar-nav .nav-item:nth-child(6) {
    position: relative;
    min-width: 7em;
}
.navbar-collapse .navbar-nav .nav-item .fas {
    color: #676F6F;
    font-size: 22px;
    cursor: pointer;
}
.navbar-collapse .navbar-nav .nav-item .dropdown {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}
.navbar-collapse .navbar-nav .nav-item .dropdown button {
    background: no-repeat;
    color: grey;
    border: none;
}
.navbar-collapse .navbar-nav .nav-item img {
    height: 24px;
}
.navbar-collapse .navbar-nav .nav-item span {
    margin-left: 8px;
    color: #676F6F;
}


/* .navbar-nav form {
} */
.navbar-nav form .input-group {
    width: 100%;
    background: #EEF3F1;
    border-radius: 25px;
}
.navbar-nav form .input-group input {
    background: #EEF3F1;
    border: none;
    padding-left: 28px;
    font-size: 12px;
    height: 44px;
}
.navbar-nav form .input-group .fa-search {
    color: #A6B1B1 !important;
    font-size: 16px !important;
    position: relative;
    height: max-content;
    line-height: 0;
    top: 22px;
    left: 18px;
    z-index: 4;
}
.navbar-nav form .input-group input:focus {
    box-shadow: none;
    background: #EEF3F1;
}
.navbar-nav form .input-group button,
.navbar-nav form .input-group button:hover {
    padding: 0 24px;
    border: 1px solid #D8E1E1;
    border-radius: 25px !important;
    background: #00AA13;
    color: #fff;
}

.show>.btn-secondary.dropdown-toggle:focus, 
.show>.btn-secondary.dropdown-toggle:active {
    box-shadow: none;
}
footer {
    margin: 0;
    background: #EEF3F1;
    padding: 1em;
    text-align: center;color: #676F6F;
}

footer p {
    font-size: 16px;
}

/* RESPONSIVENESS */
/* ----------------------------------------------------- */
@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem 2.5%;
        height: 64px;
    }
    .navbar img {
        height: 24px;
    }
}
@media (min-width: 769px) {
    #track-list li::before {
        top: 22%;
    }
}
@media (min-width: 1024px) {
    #track-list li::before {
        top: 27%;
    }
    .track-order .track img {
        padding: 12%;
        width: 50%;
    }

}